body, html{
  margin: 0;
  padding: 0;
  font-family: Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
}
#chart{
  background-color: #F7F7F7;
  border: 1px solid gray;
}
.bar{
  fill: palevioletred;
  shape-rendering: crispEdge;
}
